/* Nav bar */

nav{
    position: fixed;
    width: 100%;
    font-family:cursive;
    /* transition: all 0.4s ease; */
    /* font-family:georgia,garamond,serif; */
    text-decoration: none;
    /* background: #8fb4ca;
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: center; */
    /* background:url("content/img/navbg.png"); */
    z-index: 1;
    
}
nav .navbar{
    width: 90%;/* aanathi e navbar no content aakhama felaelo nai re em decide karyu ne ene khali 82% aapi screen*/
    /* background: red; */
    /* background: #0E2431; */
    margin: auto;
    display:flex; /* flex thi badhu ek line ma matlab aadu aadu aai jay*/
    align-items: center; /* badha element center ma aai gya */
    justify-content: space-between; /* space between thi vacche space aave badha ni jemke
    logo and menu and social media icons ni vacche*/
    transition: all 0.4s ease;
}
nav .navbar .menu{
    display: flex;
    
}
nav .navbar .logo a{
    font-size: 30px;
    font-weight: 500;
    color: #0C133B ;
    text-decoration: none; /*aanathi aapde je bi anchor tag na lidhe niche underline aave e kadhi*/
}
nav .navbar .social img{
    width: 20px;
}
nav .navbar .menu li{
    margin: 0 0 0 30px;
    list-style: none;
    font-size: 15px;
    font-size: 500;
    color: #0C133B;
}
nav .navbar .menu li a{
    text-decoration: none;
    color: #0C133B;
}
/* nav .navbar .social a{
    font-size: 6px;
    margin: 0 6px;
    color: #4070F4;
} */
nav.sticky .navbar{
    height: 23px;
    /* width: 90%; */
    /* padding: 8px 16px; */
    border-radius: 7px;
    padding: 13px  ;
    background:#4070f400;
    /* background: linear-gradient(#0E2431,#4070F4); */
}
nav.sticky .navbar .logo a{
    color: #0C133B;
}
nav.sticky .navbar .menu li a{
    color: #0C133B;
}
nav.sticky .navbar .social img{
    
}
/* Nav bar end */




/* Responsive Media Query CSS */
/* @media (max-width:750px) {
    nav .navbar .menu{
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
    }
    nav .navbar .social a{
        display: block;
        margin: 10px 0;
    }
} */



/* Home section */


.home{
    height: 100vh; /*visual height =100 matlab screen jetli dekhay che etli aakhi height*/
    /* width: 100%; width 100% matlab aakhi width ne cover karvanu che */
    background: url("./Images/banner.jpg") no-repeat ;
    background-position: center;
    background-attachment: fixed;
    /* background-size: cover; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.home .home-content{
    height: 100%; /*have home ma jetli height che etlij aapde content ne provide kari*/
      /*kemke aapde navbar ni width etli aapi ti to ekj manner ma dekhay ne etla mate*/
    margin: 0 62.27px; /*have ene according aa height and width ne acc. automatic e margin aapi dese*/
    display: flex; /* flex matlab center ma aavse */
    flex-direction: column; /*have flex to kharu but row wise ke column wise */
    justify-content:center; /*content necenter karyu*/
}
.home .home-content .text{
    margin-top: 10px;
}
.home .text .text-one{
    font-size: 25px;
    color:#0C133B;
    margin-bottom: 10px;
}
.home .text .text-two{
    font-size: 40px;
    font-weight: 600;
    color:#0C133B;
    margin-bottom: 10px;
}
.home .text .text-three{
    font-size: 30px;
    margin-bottom: 10px;
    color: #0E2431;
}
.home .text .text-four{
    font-size: 23px;
    color: #0E2431;
    margin: 5px 0;
}
.home .button{
    margin: 14px 0;
}
.home .button button{
    outline: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 16px;
    background: #0C133b;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all 0.4s ease; /*jyare hover thase tyare e ahiya thi transition time jose*/
    font-family:cursive, comic-sans;
    margin-top: 30px;
}
.home .button button:hover{
    color: #0C133B;
    background-color: #fff;
    border-color: #D1E0DB;
}
.map{
    display: flex;
    flex-direction: column;
    /* margin-top: 100px 100px; */
}
#map{
    /* margin: 100px 100px; */
}

#blog .blogs .first{
    display: flex;
    margin: 70px 80px;
    align-items: center;
    font-size: 12px;
}

#blog .blogs .first img{
    width: 28vw;
    margin-right: 50px;
}

#blog .blogs .first .content h4,
#blog .blogs .first .content{
    margin-bottom: 13px;
}